body {
    max-width: 1000px;
    margin: auto;
    background-image: url('./images/anime.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#heading {
    margin-top: 400px;
    color: white;
    text-align: center;
}